<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ol>
      <li{% if page.url == '/index.html' %} class="active"{% endif %}>
        <a href="./index.html">codeX Setup Intro</a>
      </li>
      <li{% if page.url == '/command_line.html' %} class="active"{% endif %}>
        <a href="./command_line.html">Mastering the command line</a>
      </li>
      <li{% if page.url == '/software_to_install.html' %} class="active"{% endif %}>
        <a href="./software_to_install.html">Some software to install</a>
      </li>
      <li{% if page.url == '/know_git.html' %} class="active"{% endif %}>
        <a href="./know_git.html">Version control with Git</a>
      </li>
      <li{% if page.url == '/debug_tools.html' %} class="active"{% endif %}>
        <a href="./debug_tools.html">Debugging &amp; Tools</a>
      </li>
      <li{% if page.url == '/debug_tools.html' %} class="active"{% endif %}>
        <a href="./editor.html">The Atom text editor</a>
      </li>
      <li>
        <a href="http://frontend-basics.projectcodex.co">Let's code!</a>
      </li>
    </ol>
  </nav>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74875241-1', 'auto');
  ga('send', 'pageview');

</script>
